.header-top{
    background: #615a57;
    height: 3vh;
    padding: 0 5vh;
}
.header-top_menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}
.header-top_menu-text{
    text-decoration: none;
    color: #bdbbb9;
}
.header-middle{
    background: #efefef;
    display: flex;
    align-items: center;
    padding: 0 20vh;
}