* {
    box-sizing: border-box;
}

.hover {
    position: relative;
}

.hover:before {
    position: absolute;
    content: "";
    width: 90%;
    height: 2px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    top: 1px;
}

.hover.top:before {
    top: 0;
}

.hover.bottom:before {
    bottom: 0;
}

.avatar {
    background: #F0FFFF;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0.8;
}

.row {
    display: flex;
    justify-content: center;
    margin: 0;
}

.topNav {
    text-align: center;
    margin-left: 60px;
    width: 200px;
}

.topNav:first-child {
    margin-left: 0;
}

.list {
    width: 200px;
    margin: 0;
    margin-left: 60px;
    padding: 5px;
    border: 1px solid #DCDCDC;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.list:first-child {
    margin-left: 0;
}

.dragble {
    padding: 10px;
    list-style-type: none;
}

.dragble span {
    display: block;
    padding: 10px;
    background: #1E90FF;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.dragble:last-child {
    margin-bottom: 0;
}
