table {
    width: 100%;
}

tr {
    background: #6F81D6;
    height: 10vh;
}

tr:nth-child(1) {
    height: 5vh;
}

tr:nth-child(2n) {
    background: #61B4CF;
}
.hover:hover{
    background: aquamarine;
    cursor: pointer;
}
